.home {
    width: 90%;
    margin: 0 auto;
}

.form {
    width: 100%;
    margin: 0;
}

@media (min-width: 1024px) {
    .home {
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5rem;
    }

    .form {
        max-width: 355px;
    }

    .resume {
        width: calc(100% - 355px);
    }
}